*{
text-align: center;
margin-top: 50px;
color:beige
}
.Title{
    font-size: 50px;
    background: #432D2D;
    width: 500px;
    padding: 10px;
    border: 5px solid #BCC4C7;
    margin: auto;
    color:#BCC4C7 ;
}
body{
    background-size: cover;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.checkbox{
    font-size: large;
}
.button{
    text-align: center;
    width: 120px;
    height: 50px;
    background-color: #E1C9A9;
    color: #432D2D;
    font-style:italic;
    font-weight: bolder;
}
